<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCgi" path="handler.fcgi" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Vs\Flask\env\Scripts\python.exe|C:\Users\Vs\Flask\env\Lib\site-packages\wfastcgi.py" resourceType="File" />
            <add name="FlaskApp" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Vs\Flask\env\Scripts\python.exe|C:\Users\Vs\Flask\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <security>
            <requestFiltering allowDoubleEscaping="true"></requestFiltering>
        </security>
    </system.webServer>

    <appSettings>
        <add key="WSGI-handler" value="main.app" />
        <add key="PYTHONPATH" value="C:\Users\Vs\Flask" />
        <add key="WSGI_LOG" value="C:\Logs\FlaskWebApp.log" />
        <add key="WSGI_RESTART_FILE_REGEX" value="" />
        <add key="WSGI_PTVSD_ADDRESS" value="0.0.0.0:80" />
        <add key="C:\Users\arsen\AppData\Local\Programs\Python\Python311\python.exe" value="C:\Users\Vs\Flask\env\Scripts\wfastcgi.exe" />
        <add key="C:\Users\arsen\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Python 3.11\Python 3.11 (64-bit)" value="C:\Users\Vs\Flask\env\Lib\site-packages\wfastcgi.py" />
        <add key="WSGI_ALT_VIRTUALENV_ACTIVATE_THIS" value="env\Scripts\activate" />
    </appSettings>
</configuration>

