{% extends 'base.html' %}
{% block title %}
Форма создания новости
{% endblock  title%}
{% block header%} 
    <h1>Форма создания новости</h1>
{% endblock header%}
{% block content %}
<form action="" method="POST" novalidate>
    {{form.csrf_token}}
    <div class="form-group">
        <label> {{ form.title.label }}</label>
        {{form.title(class="form-control")}}
        {% for error in form.title.errors %}
        <div class="alert alert-danger" role="alert">
            <span>{{ error}}</span>
        </div>
        {% endfor %}

        <label> {{ form.text.label }}</label>
        {{form.text(class="form-control")}}
        {% for error in form.text.errors %}
        <div class="alert alert-danger" role="alert">
            <span>{{ error}}</span>
        </div>
        {% endfor %}
        
        <label> {{ form.email.label }}</label>
        {{form.email(class="form-control")}}
        
    </div>
    {{form.submit(class="btn btn-primary btn-lg")}}
</form>
<p></p>
{% endblock  content%}