{% extends 'base.html' %}
 {% block title %}
Главная
 {% endblock  title%}
 {% block header%} 
 <h1>Главная</h1>
 {% endblock header%}
{% block content %}
       <center> <h3>Новости</h3> </center>
    <ol>
        {% for topic in news %}
        <div class = "card mb-3">
        <div class = "class body">
        <li><h5>{{topic.title}}</h5> 
            <p>{{topic.text|truncate(20)}}</p>
            <a href="{{ url_for('news_detail', id = topic.id) }}" class = "btn btn-primary"> Читать далее</a> </li>
        </div>
        </div>
        {% endfor %}
    </ol>

    <hr>

        <center><h3>Отзывы</h3></center>
        <ul>
        {% for topic in feedbacks %}
        <li><p>{{topic.rating}}</p>
            <p>{{topic.text|truncate(20)}}</p>
            <p>{{topic.name}}</p> </li>
        {% endfor %}
    </ul>
{% endblock  content%}